/* Defining color palette */
:root {
    --default-text: #AEAEAF;
    --materials-outline: #565664;
    --materials-text: #DDDDDD;
    --transparent: rgba(0,0,0,0);
    --hoverColor: #000344;
}

.rowRectangle{
    width: 350px;
    height: 80px;
    fill: var(---transparent);
    opacity: 0;
    outline: 2.5px solid var(--materials-outline);
}
.rowRectangle-clicked{
    width: 350px;
    height: 80px;
    fill: var(---hoverColor);
    opacity: 1;
    outline: 2.5px solid var(--materials-outline);
}

.colorCircle{
    padding-bottom: 30px
}

.itemName{
    font-size: 25px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    fill: var(--materials-text);
    letter-spacing: 1px;
    cursor: default;
}

.itemVolume{
    font-size: 18px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    fill: var(--materials-text);
    letter-spacing: 1px;
    cursor: default;
}